body {
  /* Make the body flush with the window. */
  margin: 0;

  /* Fill the window. */
  width: 100vw;
  height: 100vh;

  /* The background color can be shown during quick resizes and context loss.
     [palette] */
  background-color: #0a1a1a;

  /* Clip overflow. */
  overflow: hidden;
}
/* 
html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
} */

.game-canvas {
  /* Hide the cursor. This is rendered by the game. */
  cursor: none;

  /* Prevent additional line height spacing by changing display type from inline
     to block. */
  display: block;

  /* When the user scales, use nearest-neighbor to prevent blurriness and
     changes to color. */
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;

  /* Update for every pointermove *touch* Event like *mouse* Events. */
  touch-action: none;
}
